<%- include('../partials/header') %>

<h3>Skills as of <%= time %></h3>
    <ul>
      <% skills.forEach(function(skill, index) { %>
        <li>
          <form 
          action="/skills/<%= skill.id %>?_method=DELETE" 
          method="POST"
          CLASS="delete-form"
          >
            <button type="submit">X</button>
          </form>
          <a href="/skills/<%= skill.id %>">

            <%= skill.text %>
          </a>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add Skills</a>
    
    <%- include('../partials/footer') %>